.dragon-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(135deg, #f57c00, #fbc02d);
  min-height: 100vh;
}

.dragon-card {
  background: #ffffff;
  padding: 1.2rem;
  border-radius: 18px;
  border: 3px solid #ff9800;
  box-shadow: 0 0 25px rgba(255, 152, 0, 0.5);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  animation: aura 3s infinite alternate;
}
  img {
    width: 180px;         
    height: 280px;        
        

    margin-bottom: 0.8rem;
    border-radius: 12px;
    border: 4px solid #267ecb;
    box-shadow: 0 0 15px rgba(20, 165, 170, 0.8);
  }

  h3 {
    font-size: 1.4rem;
    color: #0e79d1;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 0.3rem;
  }

  p {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color: #5d4037;
    font-weight: 600;
  }

  a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
    background: #0cc7dc;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.7);
    transition: 0.2s ease;
  }
    
  a:hover{
    transform: scale(1.1);
  }

  .dragon-card:hover{
    transform: scale(1.1);
  }
