.dragon-detail-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(135deg, #f57c00, #fbc02d);
  min-height: 100vh;
}

.card {
  background: #ffffff;
  width: 420px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 140, 0, 0.6);
  border: 3px solid #0fa9d8;
  animation: aura 3s infinite alternate;
  text-align: center;
}

  img {
    width: 65%;
    border-radius: 10px;
    margin-bottom: 1rem;
    border: 4px solid #0f48e4;
    box-shadow: 0 0 15px rgba(255, 171, 0, 0.8);
  }

  h2 {
    font-size: 2.2rem;
    color: #e65100;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 3px black;
  }

  p {
    font-size: 1.1rem;
    margin: 0.4rem 0;
    color: #333;
    strong {
      color: #bf360c;
    }
  }
  

  h3 {
    margin-top: 1.5rem;
    color: #d84315;
    font-size: 1.6rem;
    text-shadow: 1px 1px 2px black;
  }



.transformations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
  .trans-card {
    background: #fff8e1;
    width: 140px;
    padding: 0.8rem;
    border-radius: 10px;
    border: 2px solid #370edb;
    box-shadow: 0 0 10px rgba(9, 19, 219, 0.5);
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  }
  .trans-card:hover {
      transform: scale(1.07);
      box-shadow: 0 0 15px rgba(10, 69, 232, 0.8);
    }

  img {
      width: 80%;
      border-radius: 10px;
      margin-bottom: 0.5rem;
    }

  p {
      font-weight: bold;
      color: #bf360c;
      font-size: 0.95rem;
 }
  




