.rick-detail-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}


.card {
  background: rgba(0, 76, 255, 0.08);
  border: 3px solid #32ff7e;
  border-radius: 20px;
  padding: 2rem;
  width: 380px;
  text-align: center;
  position: relative;
  
}


.card img {
  width: 85%;
  border-radius: 15px;
  border: 3px solid #1aff66;
  margin-bottom: 1.2rem;
}


.card h2 {
  color: #000000;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px #24ff72;
  font-weight: bold;
}


.card p {
  color: #131313;
  font-size: 1.1rem;
}

.card strong {
  color: #00ff95;
}

