.simpson-detail-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(180deg, #87cefa, #ffffff);
  min-height: 100vh;
}

.card {
  background: #fffbe6;
  padding: 2rem;
  border-radius: 22px;
  border: 4px solid #fdd835;
  box-shadow: 0 0 25px rgba(255, 235, 59, 0.6);
  max-width: 450px;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
}

.card img {
  width: 80%;
  border-radius: 15px;
  border: 5px solid #ffeb3b;
  box-shadow: 0 0 15px rgba(255, 235, 59, 1);
  background: white;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 2rem;
  color: #0d47a1;
  text-shadow: 1px 1px 1px white;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.1rem;
  color: #37474f;
  line-height: 1.5;
  font-weight: 600;
}

